<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board_write</title>
  <style>
		body {
			margin: 0;
			padding: 0;
			width: 375px;
			height: 812px;
      background-color: #AFE1FD;
		}
		</style>

</head>
<body>
  <form action="/board" method="post">
    <h1>글쓰기</h1>
    <p>
      <p>제목 : 
      <input autocomplete="off" type="text" name="title"
      placeholder="제목을 작성해주세요" value="" required></p>
    </p>
    <p>
      <p>내용 : 
      <input autocomplete="off" type="text" name="content"
      placeholder="내용을 작성해주세요" value="" required></p>
    </p>
    <p><input type="submit" value="저장"></p>
  </form>
</body>
</html>




